*{
	padding: 0px;
	margin: 0px;
}
header{
	width: 100%;
	height: 250px;
	/*border: 1px solid red;*/
}
.header_space{
	height: 40px;
}
.header_wrap{
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 40px;
	/*border: 1px solid black;*/
	text-align: center;
}
.logo{
	position: absolute;
	top: 0;
	left: 20px;
}
.logo> img{
	height: 50px;
	width: 200px;
}
.search_wrap{
	margin:0 auto;
	width: 460px;
	/*border: 2px solid #FFB400;*/
	height: 40px;
	display: flex;
	border-radius: 50px;
}
.search_bar{
	padding-left: 20px;
	border: 0;
	font-size: 20px;
	/*border: 1px solid white;*/
	border-radius: 50px 0 0  50px;
	width: 400px;
	background-color: #efefef;
	outline: none;
}
.search_btn{
	font-size: 25px;
	/*border: 1px solid gray;*/
	width: 60px;
	line-height: 35px;
	background-color: #FFB400; 
	border-radius: 0 50px 50px 0;
	color: white;
}
.search_btn >i{
	line-height: 35px!important;
}

.search_btn:hover{
	cursor: pointer;
}
.login_wrap{
	position: absolute;
	width: 200px;
	height: 100%;
	top: 0;
	right: 0;
	display: flex;

}
.login_wrap > span {
	font-size: 23px;
	border-radius: 50%;
	line-height: 38px;
	/*border: 1px solid blue;*/
}
.login_btn{
	position: relative;
	flex: 2;
	background-color: #aaa;
	color: white;
}
.login_btn > i {
	line-height: 40px!important;
}
.login_btn:hover{
	background-color: #FFB400;
}

.space_btn{
	flex: 1;
}
.header_menu{
	margin: 0 auto;
	width: 100%;
	height: 50px;
	min-width:1200px;
	/*border: 1px solid black;*/
	background-color: #FFB400;
}
.s_menu_wrap{
	/*border: 1px solid red;*/
	height: 100%;
	margin: 0 auto;
	width: 1200px;
	display: flex;
}
.s_menu{
	flex: 1;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 45px;
}
.s_menu:hover{
	background-color: #dda300;
	cursor: pointer;
}
.login_btn:hover > .box_wrap{
	display: block;
}
.box_wrap{
	margin-top: -2px;
	position: absolute;
	display: none;
}
.box1{
	margin-left: 20px;
	margin-top: 10px;
	height: 11px;
	width: 11px;
	border: 1px solid black;
	border-right: 0;
	border-bottom: 0;
	transform: translate(-50%) rotate(45deg);
	background: white;
}
.box2{
	margin-left: -15px;
	margin-top: -6px;
	height: 25px;
	width: 70px;
	border: 1px solid black;
	font-size: 12px;
	line-height: 25px;
	color: gray;
	background: white;
	border-radius: 5px;
}
.green{
	background-color: mediumseagreen;
}
.logout_btn{
	background-color: #F15F5F;
}

#modal{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
	z-index: 3;
	display: none;
	justify-content: center;
	align-items: center;
}
#modal_login{
	position: relative;
	background-color: white;
	width: 400px;
	height: 500px;
	text-align: center;
}
#close_btn{
	/*border: 1px solid black;*/
	position: absolute; 
	top:0;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	font-size: 30px;
	line-height: 30px;
	color: lightgray;
}
.login_logo{
	margin: 40px 20px 20px 20px;
}
.login_logo > img{
	width: 200px;
	height: 50px;
}
.text_box{
	/*border: 1px solid blue;*/
	margin: 50px 0 0 0;
}
.err_code{
	position: absolute;
	display: inline-block;
	color: #ff1616;
	font-size: 12px;
	line-height: 16px;
	margin: -20px 0px;
	left: 30px;
	display: none;
}
.total_err{
	height: 40px;
	width: 100%;
	text-align: center;
}
.input_box{
	border: 1px solid lightgray;
	height: 50px;
	width: 350px;
	margin: 20px auto;
}
.input_login{
	border: none;
}
.input_box > input{
	border: none;
	margin-top: 10px;
	width: 330px;
	height: 30px;
}
.login_box{
	cursor: pointer;
	margin: 10px auto 0;
	width: 350px;
	height: 50px;
	background-color: #FFB400;
	font-size: 30px;
	line-height: 40px;
	font-weight: 800;
	color: white;
}
.modal_box{
	position: relative;
	margin: 0px auto;
	padding: 10px 0 0 0;
	/*border: 1px solid black;*/
	width: 350px;
	height: 40px;
	display: flex;
	font-size: 13px;
	border-bottom: 1px solid lightgray;
}
.modal_box >label{
	background: url("../images/check_off.gif") no-repeat;
	display: block;
	height: 26px;
	line-height: 25px;
	padding-left: 25px;
}
.modal_box > input{
	visibility: hidden;
	position: absolute;
	width: 22px;
	height: 22px;
	margin-top: 10px;
	margin-left: 10px; 
}
.modal_box > input:checked +label{
	background-image: url("../images/check_on.gif");
}
.member_box{
	margin-top: 10px;
	font-size: 12px;
}
.member_box > a{
	text-decoration: none;
	color: gray;
}