<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makefree.mybatis.MakefreeMapper.xml">
	<select id="bestList" resultType="com.makefree.dto.ProductDTO">
	<![CDATA[
		SELECT * 
		FROM(SELECT * FROM tbl_product
		     ORDER BY p_good DESC)
		WHERE rownum <= 4
		]]>
	</select>
	
	<select id="newList" resultType="com.makefree.dto.ProductDTO">
	<![CDATA[
		SELECT * 
		FROM(SELECT * FROM tbl_product
		     ORDER BY p_indate DESC)
		WHERE rownum <= 4
		]]>
	</select>
	
	<select id="idCheck" parameterType="String" resultType="String">
		SELECT id FROM tbl_member
		WHERE id = #{id}
	</select>
	
	<insert id="memInsert" parameterType="com.makefree.dto.MemberDTO">
		INSERT INTO tbl_member(id, pw, name, phone, email, zipcode, addr1, addr2)
		VALUES(#{id},#{pw},#{name},#{phone},#{email},#{zipcode},#{addr1},#{addr2})
	</insert>
	
	<select id="loginCheck" parameterType="com.makefree.dto.MemberDTO" resultType="com.makefree.dto.MemberDTO">
		SELECT * FROM tbl_member
		WHERE id=#{id} AND pw=#{pw}
	</select>
	
	<update id="memUpdate" parameterType="com.makefree.dto.MemberDTO">
		UPDATE tbl_member SET
		  name = #{name},
		  phone = #{phone},
		  email = #{email},
		  zipcode = #{zipcode},
		  addr1 = #{addr1},
		  addr2 = #{addr2}
		WHERE id = #{id}
	</update>
	
	<select id="memOne" parameterType="String" resultType="com.makefree.dto.MemberDTO">
		SELECT * FROM tbl_member
		WHERE id=#{id}
	</select>
	
	<select id="pwCheck" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM tbl_member
		WHERE id=#{id} AND pw=#{pw}
	</select>
	
	<update id="pwUpdate" parameterType="hashmap">
		UPDATE tbl_member SET
			pw = #{pw}
		WHERE id = #{id}
	</update>
	
	<delete id="memDelete" parameterType="String">
		DELETE FROM tbl_member
		WHERE id=#{id}
	</delete>
	
	<select id="listAll" resultType="com.makefree.dto.BoardDTO">
		SELECT *
		FROM (SELECT rownum rnum, a.*
		      FROM (SELECT *
		            FROM tbl_board
		            WHERE bno > 0 
		            
		            <if test="search_option == 1">
		            	AND title LIKE '%' || #{keyword} || '%' OR title LIKE '%' || #{keyword} || '%'
		            </if>
		            <if test="search_option == 2">
		       	    	AND title LIKE '%' || #{keyword} || '%'
		            </if>
		            <if test="search_option == 3">
		            	AND content LIKE '%' || #{keyword} || '%'
		            </if>
		            <if test="search_option == 4">
		            	AND writer LIKE '%' || #{keyword} || '%'
		            </if>
		            
  
		            <if test="sort_type == 'new'">
		            	ORDER BY bno DESC
		            </if>
		            <if test="sort_type == 'reply'">
		            	ORDER BY replycnt DESC, bno DESC
		            </if>
		            <if test="sort_type == 'view'">
		            	ORDER BY viewcnt DESC, bno DESC
		            </if>
		            <if test="sort_type == 'good'">
		            	ORDER BY goodcnt DESC, bno DESC
		            </if>
		            ) a
		        )
		WHERE rnum BETWEEN #{pageStart} AND ${perPageNum}
	</select>
	
	<!-- 게시판 -->
	<select id="totalCount" resultType="int">
		SELECT Count(bno)
		FROM tbl_board
		WHERE bno > 0
		<if test="search_option == 1">
        	AND title LIKE '%' || #{keyword} || '%' OR title LIKE '%' || #{keyword} || '%'
        </if>
        <if test="search_option == 2">
   	    	AND title LIKE '%' || #{keyword} || '%'
        </if>
        <if test="search_option == 3">
        	AND content LIKE '%' || #{keyword} || '%'
        </if>
        <if test="search_option == 4">
        	AND writer LIKE '%' || #{keyword} || '%'
        </if>
	</select>
</mapper>